<div class="about-container">
  <app-header></app-header>
  <div class="about-main">
    <div class="about-main-image">
      <span class="text">Good Food starts with Good Ingredients</span>
      <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2018-9/9256-Out_of_50_States_These_Are_the_Most_Popular_6_Dinner_Combos-1296x728-Header.jpg?w=1155&h=1528" alt="">
    </div>
    <div class="about-main-content">
      <span class="text-1">OUR MISSION</span>
      <span class="text-2">To share food through food.</span>
      <span class="text-3">Screenshot of lya Food About Us page featuring bright colors and ingredients</span>
    </div>
  </div>
</div>
