.contact-container {

  .contact-main {
    height: 100vh;
    background: url('https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?s=612x612&w=0&k=20&c=_vmYyAX0aFi-sHH8eYS-tLLNfs1ZWXnNB8M7_KWwhgg=');
    background-position: center;
    background-repeat: none;
    background-size: cover;

    .contact-detail {
      // z-index: 99;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 300px;
      padding-left: 175px;
      padding-top: 50px;

      .contact-detail-title {
        font-size: 40px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        margin-bottom: 10px;
      }

      .contact-detail-name, .contact-detail-email, .contact-detail-send  {
        height: 35px;
        border-radius: 20px;
        outline: none;
        background-color: rgb(222, 225, 227);
        // color: rgb(76, 76, 202);
      }

      .contact-detail-message {
        height: 60px;
        border-radius: 20px;
        background-color: rgb(222, 225, 227);
      }

      .contact-detail-send {
        background-color: blue;
        color: white;
        // outline: none;
        font-size: 20px;
      }
    }
  }
}
