<div class="contact-container">
  <app-menu></app-menu>
  <div class="contact-main">
    <div class="contact-detail">
      <span class="contact-detail-title">Contact us</span>
      <input type="text" class="contact-detail-name" placeholder="Name">
      <input type="email" class="contact-detail-email" placeholder="Email">
      <input type="text" class="contact-detail-message" placeholder="Message">
      <input type="button" value="Send Message" class="contact-detail-send">
    </div>
  </div>
</div>
