.chart-container {
    width: 100%;
    display: flex;

    .chart-canvas {
        background-color: rgb(227, 227, 233);
        width: 70%;
        min-height: 50px;
        position: relative;

        .chart-vertical {
            height: 200px;
            width: 3px;
            background-color: black;
            margin-left: 60px;
        }

        .chart-horizonal {
            height: 3px;
            width: 600px;
            background-color: black;
            margin-left: 60px;
            display: flex;
            gap: 50px;
            padding-left: 10px;

            .chart-horizonal-value {

                position: relative;


                .box-color {
                    width: 30px;
                    position: absolute;
                    bottom: 3px;
                }
            }
        }

        .percent-100 {
            position: absolute;
            bottom: 186px;
            left: 20px;
        }

        .percent-50 {
            position: absolute;
            bottom: 93px;
            left: 28px;
        }

        .percent-0 {
            position: absolute;
            bottom: 0;
            left: 46px;
        }

    }
    
    .chart-note {
        background-color: rgb(211, 219, 211);
        width: 30%;
        min-height: 50px;
        display: flex;
        flex-direction: column;

        .note-content {
            display: flex;
        }

        .box-color {
            width: 30px;
            height: 15px;
            background-color: red;
        }
    }
}

.show-chart {
    font-size: 20px;
    font-weight: 700;
    background-color: pink;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 60px;

    &:hover {
        color: white;
        background-color: rgb(199, 65, 211);
        border: rgb(199, 65, 211);
    }
}