.chart {
    height: 400px;
    display: flex;
    flex-direction: row;

    .chart-canvas {
        width: 70%;
        position: relative;
        
        .chart-canvas-vertical {
            width: 2px;
            height: 300px;
            background-color: black;
            margin-top: 80px;
            margin-left: 40px;
        }

        .chart-canvas-horizonal {
            width: 550px;
            height: 2px;
            background-color: black;
            margin-left: 40px;
        }

        .chart-items {
            display: flex;
            flex-direction: row;
            gap: 50px;
            position: absolute;
            left: 75px;
            bottom: 1px;

            .chart-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
    
                .box-color {
                    width: 40px;
                }
            }
        }

        .chart-100 {
            position: absolute;
            bottom: 300px;
        }

        .chart-50 {
            position: absolute;
            bottom: 150px;
        }
    }

    .chart-list-container {
        width: 30%;
        display: flex;
        flex-direction: column;

        .chart-list {
            display: flex;
            flex-direction: row;
        }

        .box-color {
            width: 50px;
            height: 25px;
        }

        span {
            font-size: 20px;
        }
    }
}