.forgot-password-container {
  height: 100vh;
  background: url('https://static.vecteezy.com/system/resources/previews/004/299/830/non_2x/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding-top: 80px;

  .forgot-password-main {
    background-color: black;
    opacity: 0.8;
    height: 300px;
    width: 800px;
    margin-left: 359px;
    color: white;
    display: flex;
    box-shadow: 5px 5px 20px;
    border-radius: 10px;

    .forgot-password-image {
      display: flex;

      img {
        border-radius: 10px 0 0 10px;
      }
    }

    .forgot-password-form {
      display: flex;
      flex-direction: column;

      .title {
        margin: 20px 0 0 36px;
        font-size: 45px;
        font-weight: 700;
      }

      .extra-text {
        margin: 15px 0 0 39px;
        font-size: 17px;
      }

      .input-email {
        margin: 30px 0 0 40px;
        padding-left: 10px;
        box-sizing: border-box;
        width: 350px;
        height: 40px;
        font-size: 17px;
        outline: white;
        color: black;
        border-radius: 3px;
      }

      .submit {
        height: 40px;
        width: 350px;
        margin: 30px 0 0 40px;
        background-color: green;
        color: white;
        font-size: 15px;
        font-weight: 700;
        border-radius: 3px;
      }

      .back-to-login {
        margin: 15px 0 0 150px;
        color: grey;

        &:hover {
          cursor: pointer;
        }
      }
  }
  }

}
