<div class="forgot-password-container">
  <div class="forgot-password-main">
    <div class="forgot-password-image">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/004/968/495/small/forgot-the-password-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-states-ui-infographic-vector.jpg" alt="">
    </div>
    <div class="forgot-password-form">
      <span class="title">Forgot Password</span>
      <span class="extra-text">Enter your email and we'll send you a link to reset your password.</span>
      <input type="email" class="input-email" placeholder="Enter your email">
      <input type="submit" class="submit" value="Submit">
      <span class="back-to-login" (click)="navigate('login')"> << Back to Login </span>
    </div>
  </div>
</div>
