.header-stt {
  width: 10%;
}
.header-content {
  width: 60%;
  text-align: left;
}
.header-level {
  width:3%;
  text-align: center;
}
.header-action {
  width: 15%;
  text-align: center;
}

.body-stt {
  width: 10%;
  text-align: center;
}
.body-content {
  width: 60%;
  text-align: left;
}
.body-level {
  width: 4%;
  text-align: center;
}
.body-action {
  width: 15%;
  text-align: center;

  input {
    margin-right: 10px;
  }
}

.edit-item-stt {
  color: red;
}

.edit-item-content {
  height: 30px;
}
