.container {
    height: 200px;
    width: 500px;
    padding: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .main {

        border: 3px solid black;

        .list-heading {
            width: 300px;
            height: 30px;
            position: sticky;
    
            span {
                font-size: 18px;
                // padding: 0 16%;
                margin-left: 35px;
                font-weight: 700;
                border-bottom: 2px solid black;
            }
        }
    
        .list-content {
            width: 100%;
            height: 170px;
            margin-top: 6px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .list-line {
                width: 100%;
    
                span {
                    font-size: 18px;
                    margin-left: 5px;
                }
    
                .btn {
                    float: right;
                    margin-left: 5px;
    
                    input {
                        float: right;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .edit {

    }
}