<div class="cart-container">
  <app-menu></app-menu>
  <div class="cart-main">
    <div class="list-products">
      <div class="product" *ngFor="let product of listProductCart">
        <div class="product-image">
          <img [src]="product.image" alt="">
        </div>
        <div class="product-detail">
          <span class="product-description">{{product.description}}</span>
          <span class="product-price">
            <span class="quantity-text">Quantity: </span>
            <span class="quantity">
              <div class="quantity-minus" (click)="changeQuantity(product.id, 'minus')">-</div>
              <div class="quantity-number">{{product.quantity}}</div>
              <div class="quantity-plus" (click)="changeQuantity(product.id, 'plus')">+</div>
            </span>
            <span class="price">{{product.price}}</span>
            <span class="total">{{product.subtotal}}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="bill">
      <div class="delivery">
        <div class="input-delivery">
          <input type="radio" name="delivery" value="Home Delivery">Home Delivery
        </div>
        <div class="input-delivery">
          <input type="radio" name="delivery" value="Click & Colect">Click & Colect
        </div>
      </div>
      <div class="subtotal-delivery">
        <div class="subtotal">
          <span class="subtotal-text">Subtotal</span>
          <span class="subtotal-number">{{subtotal}}</span>
        </div>
        <div class="delivery">
          <span class="delivery-text">Delivery</span>
          <span class="delivery-number">{{delivery}}</span>
        </div>
        <div class="total">
          <span class="total-text">Total</span>
          <span class="total-number">{{total}}</span>
        </div>
        <div class="checkout">
          <input type="button" value="Checkout">
        </div>
        <div class="extra-text">
          <span>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply</span>
        </div>
      </div>
    </div>
  </div>
</div>
