.cart-container {

  .cart-main {
    height: auto;
    background-color: rgb(236, 233, 233);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;

    .list-products {
      width: 55%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .product {
        background-color: white;
        border-radius: 15px;
        display: flex;
        height: 200px;

        img {
          height: 100%;
          border-radius: 15px 0 0 15px;
        }
      }

      .product-detail {
        display: flex;
        flex-direction: column;

        .product-description {
          font-size: 32px;
          font-weight: 900;
          margin: 15px 0 0 15px;
        }

        .product-price {
          margin: 35px 0 0 15px;
          display: flex;
          gap: 55px;
          align-items: center;

          .quantity-text {
            font-size: 25px;
            display: flex;
            gap: 55px;
            align-items: center;
            // font-size: 25px;
          }

          .quantity {
            display: flex;

            .quantity-minus {
              border: 1px solid black;
              width: 34px;
              text-align: center;
              line-height: 30px;
              border-radius: 15px 0 0 15px;
              font-weight: 900;
            }

            .quantity-number {
              border: 1px solid black;
              width: 34px;
              text-align: center;
              line-height: 30px;
              border-left: none;
              border-right: none;
              font-weight: 800;
            }

            .quantity-plus {
              border: 1px solid black;
              width: 34px;
              text-align: center;
              line-height: 30px;
              border-radius: 0 15px 15px 0;
              font-weight: 900;
            }

            .quantity-minus, .quantity-number, .quantity-plus {
              &:hover {
                background-color: pink;
              }
            }
          }

          .price,.total {
            font-size: 25px;
          }
        }
      }
    }

    .bill {
      width: 45%;
      height: 300px;
      background-color: white;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 20px;
      position: sticky;
      top: 80px;

      .delivery {
        font-size: 25px;
        display: flex;
        gap: 30px;

        .input-delivery {
          font-weight: 900;
          padding: 5px;
          border-radius: 10px;

          input {
            margin-right: 6px;
          }

          &:hover {
            background-color: rgb(242, 235, 235);
          }
        }
      }

      .subtotal-delivery {
        margin-top: 20px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .subtotal, .delivery, .total {
          display: flex;
          justify-content: space-between;
        }

        .total {
          align-items: center;

          .total-text {
            font-weight: 700;
            font-size: 25px;
          }
        }

        .checkout {

          input {
            width: 100%;
            height: 35px;
            border-radius: 20px;
            background: #67d367;
            color: white;
            font-size: 20px;
            border: none;
          }
        }

        .extra-text {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
  }
}
