<div class="header-container">
    <h1 class="header-title">Project 01 - ToDo List <small>{{'Angular' | toUppercase }}</small></h1>
    <div class="header-main">
        <div class="search-sort-item">
            <div class="search-item">
                <input class="search-key" type="text" placeholder="Search item name" [(ngModel)]="stringSearchKey">
                <input class="btn btn-clear" value="Clear" type="button" (click)="clear()">
                <input class="btn btn-clear" value="Search" type="button" (click)="search()">
            </div>
            <div class="sort-item">
                <select [ngModel]="stringSort" (ngModelChange)="sortItem($event)">
                    <!-- <option value="1">Sort By</option> -->
                    <option value="nameDesc">Name - Desc</option>
                    <option value="nameEsc">Name - Esc</option>
                    <option value="levelDesc">Level - Desc</option>
                    <option value="levelEsc">Level - esc</option>
                </select>
                <span class="sort-by">{{ stringSort }}</span>
            </div>
        </div>
        <div class="add-item">
            <input class="btn btn-add" type="button" value="Add item" (click)="addItem()">
            <div class="set-item">
                <input class="set-item-name" type="text" placeholder="Item name" [(ngModel)]="item.content">
                <select name="" id="" [(ngModel)]="item.level">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <input class="btn btn-submit" type="button" value="Submit">
                <input class="btn btn-cancel" type="button" value="Cancel" (click)="cancelItem()">
            </div>
        </div>
    </div>
</div>
