<div class="header-container">
    <h1 class="header-title">Project 01 - ToDo List <small>Angular</small></h1>
    <div class="header-main">
        <div class="search-sort-item">
            <div class="search-item">
                <input class="search-key" type="text" placeholder="Search item name">
                <span class="btn btn-clear">Clear</span>
            </div>
            <div class="sort-item">
                <select>
                    <option value="">Sort By</option>
                </select>
                <span class="sort-by">NAME - DESC</span>
            </div>
        </div>
        <div class="add-item">
            <input class="btn btn-add" type="button" value="Add item">
            <div class="set-item">
                <input class="set-item-name" type="text" placeholder="Item name">
                <select name="" id="">
                    <option value="">Small</option>
                </select>
                <input class="btn btn-submit" type="button" value="Submit">
                <input class="btn btn-cancel" type="button" value="Cancel">
            </div>
        </div>
    </div>
</div>