<div class="footer-container">
  <div class="info">
    <div class="info-logo">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQWscN5MgxlbxOyppX6sHv_Ggw_-qw4EdivM_J91z-tVogojVyI" alt="logo">
      <span>DAVIDTUAN MOBILE SHOP</span>
    </div>
    <div class="info-para">
      <span>DavidTuan Academy thành lập năm 2009. Chúng tôi đào tạo chuyên sâu trong 2 lĩnh vực là Lập trình Website & Moblie nhằm cung cấp cho thị trường CNTT Việt Nam những lập trình viên thực sự chất lượng, có khả năng làm việc độc lập, cũng như Team Work ở mọi mọi môi trường đòi hỏi sự chuyên nghiệp cao.</span>
    </div>
  </div>
  <div class="info-address">
    <div class="header">
      <span>Địa chỉ</span>
    </div>
    <div class="info">
      <span>B8A Võ Văn Dũng - Hoàng Cầu - Đống Đa - Hà Nôi</span>
      <span>Số 25 Ngõ 178/71 - Tây Sơn - Đống Đa - Hà Nội</span>
    </div>
  </div>
  <div class="info-service">
    <div class="header">
      <span>Dịch vụ</span>
    </div>
    <div class="info">
      <span>Bảo hành rơi vỡ, ngẫm nước Care Diamond</span>
      <span>Bảo hành Care X60 rơi vỡ ngấm nước vẫn đổi mới</span>
    </div>
  </div>
  <div class="info-hotline">
    <div class="header">
      <span>Hotline</span>
    </div>
    <div class="info">
      <span (click)="navigate('contact')">Phone Sale: (+84) 0976123782</span>
      <span (click)="navigate('contact')">Email: davidtuan02@gmail.com</span>
    </div>
  </div>
</div>
