.input {
  margin-left: 37%;
  display: flex;
  gap: 10px;
}

.btn-gan {
  margin-left: 42%;
  display: flex;
  gap: 10px;
}

.btn-tinh {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 50px;
    margin-top: 5px;
  }
}

.result-text {
  font-size: 25px;
  margin-left: 707px;
}
