.header-container {
    height: 46px;
    background-color: #3f3fc4;
    display: flex;

    .header-title {
        height: 100%;
        width: 20%;
        display: flex;

        img {
            background-color: transparent;
            color: #8a8ac2;
            height: 80%;
            box-sizing: border-box;
            margin: 5px 4px;
            margin-right: 8px;
        }

        .header-title-text {
            color: white;
            line-height: 46px;
            font-size: 18px;
        }
    }

    .header-nav {
        display: flex;
        gap: 46px;

        a {
            font-weight: 400;
            height: 26px;
            box-sizing: border-box;
            margin-top: 10px;
            color: white;
            text-decoration: none;
            padding: 8px;
            border-radius: 4px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}