.menu-product-container {
  margin-top: 50px;
  background-color: rgb(231, 207, 227);

  .menu-product {
    background-color: rgb(241, 157, 210);
    box-shadow: 5px 5px 15px rgb(204, 137, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
  }

  .phone, .tablet, .watch, .laptop {
    font-size: 26px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  .arrange-text {
    margin-left: 1400px;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .list-products {
    display: flex;
    justify-content: space-around;

    .product {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
