<div class="menu-product-container">
  <div class="menu-product">
    <div class="phone">Phone</div>
    <div class="laptop">Laptop</div>
    <div class="tablet">Tablet</div>
    <div class="watch">Watch</div>
  </div>
  <span class="arrange-text">Sắp xếp</span>
  <div class="list-products">
    <div class="product" (click)="navigate()">
      <app-product></app-product>
    </div>
    <div class="product" (click)="navigate()">
      <app-product></app-product>
    </div>
    <div class="product" (click)="navigate()">
      <app-product></app-product>
    </div>
    <div class="product" (click)="navigate()">
      <app-product></app-product>
    </div>
  </div>
</div>
