.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .home-header {

  }

  .home-main {
    height: auto;
    display: flex;
    gap: 20px;

    .home-left {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .home-right {
      width: 30%;
    }
  }
}
