<div class="app-container">
    <div class="heading">
        <app-heading></app-heading>
        <app-log-out></app-log-out>
    </div>
    <div class="content">
        <div class="main">
            <div class="main-left">
                <app-add-record></app-add-record>
            </div>
            <div class="main-right">
                <div class="main-right-top">
                    <app-my-results></app-my-results>
                </div>
                <div class="main-right-bottom">
                    <app-list></app-list>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- component app-list -->
<div class="app-list"> 
    <app-item></app-item>
</div>