.edit-item-container {
    width: 132%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 0 0 4px 2px;

    .edit-item-stt {
        width: 10%;
        text-align: center;
    }

    .edit-item-content {
        width: 60%;
        padding: 5px 11px;
        box-sizing: border-box;
    }

    .edit-item-level {
        width: 15%;
        text-align: center;

        select {
            width: fit-content;
            padding: 6px;
        }
    }

    .edit-item-btn {
        width: 15%;
        display: flex;
        justify-content: space-evenly;
    }
}