<div class="edit-item-container">
    <span class="edit-item-stt">6</span>
    <input class="edit-item-content" type="text" value="F1 muuốn tổ chức giải đua xe tại VN vào năm 2020">
    <div class="edit-item-level">
        <select name="" id="">
            <option value="Small">Small</option>
        </select>
    </div>
    <div class="edit-item-btn">
        <input type="button" class="btn btn-cancel" value="Cancel">
        <input type="button" class="btn btn-save" value="Save">
    </div>
</div>