@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
:root {
  --white: #F5F5F5;
  --light: #E0C9CB;
  --tan: #C3A1A0;
  --pink: #D9AAB7;
  --rose: #BA7E7E;
  --dark: #4E4E4E;
}

// body {
//   margin: 0;
//   display: flex;
// }

.detail-product-container {

  .detail-product-main {
    margin-top: 30px;
    margin-left: 18%;
    height: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
    background: var(--white);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
  }

  p {
    font-size: 0.6em;
    color: var(--rose);
    letter-spacing: 1px;
  }

  .image-size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
        width: 28em;
    }

    .slideshow-button {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 20px;

        span {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #E0C9CB;

            &:hover {
              background-color: #BA7E7E;
            }
        }
        .focus {
            background: #BA7E7E;
        }
    }

    .text-choose-size {
        text-transform: uppercase;
        color: #BA7E7E;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 18px;
    }

    .choose-size {
        display: flex;
        gap: 0.4em;
        justify-content: space-evenly;
        margin-top: 10px;

        span {
            border: 1px solid #E0C9CB;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            font-size: 0.7em;

            &:hover {
                background: #BA7E7E;
                color: #F5F5F5;
                cursor: pointer;
                transition: all 0.4s ease-in-out;
            }
        }
        .focus {
            background: #BA7E7E;
            color: #F5F5F5;
        }
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-1 {
      color: #BA7E7E;
      font-size: 17px;
    }

    h3 {
        font-size: 1.5em;
        color: #4E4E4E;
        // margin-top: -5px;
    }

    .description {
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 17px;
        color: #4E4E4E;
        font-size: 1em;
        line-height: 1.6em;
        text-align: justify;
    }

    button {
        background: #C3A1A0;
        padding: 10px;
        display: inline-block; /* chi trong 1 line */
        outline: 0;
        border: 0;
        border-radius: 2px;
        letter-spacing: 1px;
        color: #F5F5F5;
        cursor: pointer;

        &:hover {
            background: #BA7E7E;
            transition: all 0.4s ease-in-out;
        }
    }

    .add-to-cart-button {
        width: 67%;
    }

    .icon-button {
        width: 10%;
        margin-left: 20px;

        &:focus {
          color: red;
        }
    }
  }
}
