// .mau-do {
//   color: red;
// }

// .mau-xanh {
//   color: blue;
// }

.mau {
  color: yellow;
  &-do {
    color: red;
  }
  &-xanh {
    color: blue;
  }
}

input {
  width: 50px;
  height: 30px;
  font-weight: 600;
  margin-left: 650px;
  border: 2px solid black;

  &:hover {
    background-color: white;
  }
}
