// .mau-do {
//   color: red;
// }

// .mau-xanh {
//   color: blue;
// }

.mau {
  color: yellow;
  &-do {
    color: red;
  }
  &-xanh {
    color: blue;
  }
}

.label-medium {
  padding: 9px;
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 5px;
}