.menu {
  margin-left: 45%;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  gap: 10px;

  button {
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: pink;

    &:hover {
      cursor: pointer;
    }
  }
}
