<div class="container">
    <div class="page-header">
        <h1>Project 01 -ToDo List <small>Angular</small></h1>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search item name">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Clear</button>
                </span>
            </div>
        </div>
    </div>
</div>