<div class="menu-container">
  <div class="menu-main">
    <span (click)="navigate('')">Home</span>
    <span (click)="navigate('contact')">Contact</span>
    <span (click)="navigate('about')">About</span>
  </div>
  <div class="menu-cart" (click)="navigate('cart')">
  <mat-icon [matBadge]="quantityOnCart" matBadgeColor="warn">add_shopping_cart</mat-icon>
  </div>
  <ng-container *ngIf="!isLogin">
    <div class="menu-login">
      <span class="sign-up">Sign up</span>
      <span class="login" (click)="navigate('login')">Log in</span>
    </div>
  </ng-container>
  <ng-container *ngIf="isLogin">
    <div class="menu-login">
      <!-- <span class="sign-up username"><mat-icon>account_circle</mat-icon> {{accLogin.username}}</span>
       -->
      <mat-icon>account_circle</mat-icon>
      <span class="login" (click)="logout()">Logout</span>
    </div>
  </ng-container>
</div>
