<div class="menu-container">
  <div class="menu-main">
    <span (click)="navigate('')">Home</span>
    <span (click)="navigate('contact')">Contact</span>
    <span (click)="navigate('about')">About</span>
  </div>
  <span [style.fontSize]="'20px'" (click)="cart()">Cart</span>
  <ng-container *ngIf="!isLogin">
    <div class="menu-login">
      <span class="sign-up">Sign up</span>
      <span class="login" (click)="navigate('login')">Log in</span>
    </div>
  </ng-container>
  <ng-container *ngIf="isLogin">
    <div class="menu-login">
      <span class="sign-up username">{{accLogin.username}}</span>
      <span class="login" (click)="logout()">Logout</span>
    </div>
  </ng-container>
</div>
