.menu-container {
  height: 70px;
  padding-left: 50px;
  background-color: rgb(218, 146, 167);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-main {
    width: 30%;

    span {
      text-decoration: none;
      font-size: 30px;
      margin-right: 20px;
      font-weight: 700;
      // width: 100px;

      &:hover {
        cursor: pointer;
        color: red;
        font-size: 33px;
      }
    }
  }

  .menu-login {

    .sign-up, .login {
      &:hover {
        color: rgb(88, 80, 80);
      }
    }

    .sign-up {
      border-right: 0.5px solid black;
      padding-right: 5px;
      font-size: 20px;
    }

    .login {
      border-left: 0.5px solid black;
      margin-right: 30px;
      padding-left: 5px;
      font-size: 20px;
    }

    .username {
      font-weight: 600;
    }
  }
}
