<div class="login-container">
  <div class="login-form">
    <span class="login-title">Login Now</span>
    <div class="username">
      <input class="username-input" type="text" placeholder="User" [(ngModel)]="username">
      <span class="username-icon">U</span>
    </div>
    <div class="password">
      <input class="password-input" type="password" placeholder="Password" [(ngModel)]="password">
      <span class="password-icon" >P</span>
    </div>
    <div class="forgot-regis">
      <div class="forgot">
        <span class="forgot-password">Forgot Password?</span>
        <span class="click-here" (click)="navigate('forgot-password')">Click here</span>
      </div>
      <div class="regis">
        <span class="new-user">New User?</span>
        <span class="register-here" (click)="navigate('sign-up')">Register here</span>
      </div>
    </div>
    <input class="login" type="submit" value="LOGIN" (click)="login()">
    <div class="footer">
      <span class="text">Or Login with</span>
      <div class="images">
        <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="facebook">
        <img src="https://www.iconpacks.net/icons/2/free-twitter-logo-icon-2429-thumb.png" alt="twitter">
        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" alt="instagram">
        <img src="https://cdn-icons-png.flaticon.com/512/145/145808.png" alt="pinterest">
      </div>
    </div>
  </div>
  <span class="login-copyright">C 2017 Clean Login Form. All rights reserved | Design by W3layouts</span>
</div>
