<div class="menu-product-container">
  <div class="menu-product">
    <div class="phone">Phone</div>
    <div class="laptop">Laptop</div>
    <div class="tablet">Tablet</div>
    <div class="watch">Watch</div>
  </div>
  <select class="arrange-text">
    <option value="">Sắp xếp theo</option>
    <option value="">Giá</option>
    <option value="">Tên</option>
  </select>
  <div class="list-products">
    <div class="product" *ngFor="let item of arr">
      <app-product></app-product>
    </div>
</div>
