<div class="menu-product-container">
  <div class="menu-header">
    <div class="menu-text">
      <span>Danh sách sản phẩm</span>
    </div>
    <select class="arrange-text" [(ngModel)]="arrange" (change)="arrangeProduct()">
      <option value="SX">Sắp xếp theo</option>
      <option value="price-increase">Giá tăng dần</option>
      <option value="price-decrease">Giá giảm dần</option>
      <option value="name-a-to-z">Tên A-Z</option>
      <option value="name-z-to-a">Tên Z-A</option>
      <option value="best-seller">Bán chạy</option>
    </select>
  </div>
  <div class="list-products">
    <div class="product" *ngFor="let product of listProduct">
      <app-product [product]="product"></app-product>
    </div>
</div>
