<div class="signup-container">
  <mat-icon class="back" aria-hidden="false" fontIcon="arrow_back" (click)="navigate('')"></mat-icon>
  <div class="signup-form">
    <span class="signup-title">Signup Now</span>
    <div class="username">
      <input class="username-input" type="text" placeholder="Enter your name" [(ngModel)]="username">
      <mat-icon class="username-icon" aria-hidden="false" fontIcon="account_circle"></mat-icon>
    </div>
    <div class="username">
      <input class="username-input" type="email" placeholder="Enter your email" [(ngModel)]="email">
      <mat-icon class="username-icon" aria-hidden="false" fontIcon="mail"></mat-icon>
    </div>
    <div class="password">
      <input class="password-input" type="password" placeholder="Create password" [(ngModel)]="password">
      <mat-icon class="password-icon" aria-hidden="false" fontIcon="lock_outline"></mat-icon>
    </div>
    <div class="password">
      <input class="password-input" type="password" placeholder="Confirm password" [(ngModel)]="conPassword">
      <mat-icon class="password-icon" aria-hidden="false" fontIcon="lock_outline"></mat-icon>
    </div>
    <input class="signup" type="submit" value="SIGN UP" (click)="signup()">
    <span class="have-acc">
      <span class="already-have">Already have an account? </span>
      <span class="login" (click)="navigate('login')">Login</span>
    </span>
    <div class="footer">
      <span class="text">Or Signup with</span>
      <div class="images">
        <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="facebook">
        <img src="https://www.iconpacks.net/icons/2/free-twitter-logo-icon-2429-thumb.png" alt="twitter">
        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-social-platform-icon-png-image_6315976.png" alt="instagram">
        <img src="https://cdn-icons-png.flaticon.com/512/145/145808.png" alt="pinterest">
      </div>
    </div>
  </div>
</div>
