.title {
  margin-left: 130px;
}

.main {
  display: flex;
  flex-direction: column;

  .main-title {
    margin-left: 148px;
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;

  .btn-no {
    border: 1px solid black;
    background-color: red;
    color: white;
  }

  .btn-ok {
    width: 96px;
    border: 1px solid black;
    background-color: green;
    color: white;
  }
}
