/* You can add global styles to this file, and also import other style files */
.label-medium {
    padding: 9px;
    margin-left: 10px;
  }
  
  .ml-5 {
    margin-left: 5px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }