<div class="table-container">
    <div class="table-title">List item</div>
    <table class="table-main">
        <tr class="table-row">
            <app-item></app-item>
        </tr>
        <tr class="table-row" *ngFor="let item of listItem">
            <app-item [item]="item" [typeOfItem]="'item'"></app-item>
            <!-- <td class="col-1">{{ item.stt }}</td>
            <td class="col-2">{{ item.content }}</td>
            <td class="col-3">{{ item.level }}</td>
            <td class="col-4">{{ item.id }}</td> -->
        </tr>
    </table>
</div>
