<div class="table-container">
  <div class="table-title">List item</div>
  <table class="table-main">
    <tr class="table-header-row">
      <th class="header-stt">#</th>
      <th class="header-content">Name</th>
      <th class="header-level">Level</th>
      <th class="header-action">Action</th>
    </tr>
    <tr class="table-body-row" *ngFor="let item of listItem">
      <!-- Đây là phần item list -->
      <!-- <ng-container> -->
      <td class="body-stt">
        <span>{{item.stt}}</span>
      </td>
      <td class="body-content">

        <span *ngIf="!item.isEdit">
          {{item.content}}
        </span>

        <input class="edit-item-content" type="text"
        *ngIf="item.isEdit"
          [value]="item.content"
          [(ngModel)]="item.content">
      </td>
      <td class="body-level">
        <ng-container *ngIf="!item.isEdit">
          <span>{{item.level}}</span>
        </ng-container>
        <ng-container *ngIf="item.isEdit">
          <select name="" id="" [(ngModel)]="item.level" class="edit-item-level">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Small">Small</option>
          </select>
        </ng-container>
      </td>
      <td class="body-action">
        <ng-container *ngIf="!item.isEdit">
          <input type="button" class="btn btn-edit" value="Edit" (click)="editItem(item)">
          <input type="button" class="btn btn-delete" value="Delete">
        </ng-container>
        <ng-container *ngIf="item.isEdit">
          <input type="button" class="btn btn-cancel" value="Cancel" (click)="cancelEditItem(item)">
          <input type="button" class="btn btn-save" value="Save" (click)="saveEditItem(item)">
        </ng-container>
      </td>
      <!-- </ng-container> -->
      <!-- Đây là phần item giao diện chỉnh sửa -->
      <!-- <ng-container *ngIf="false">
        <td class="body-stt">
          <span>{{item.stt}}</span>
        </td>
        <td class="body-content">
          <input class="edit-item-content" type="text" [value]="item.content" [(ngModel)]="item.content">
        </td>
        <td class="body-level">
          <span>{{item.level}}</span>
        </td>
        <td class="body-action">
          <input type="button" class="btn btn-edit" value="Edit">
          <input type="button" class="btn btn-delete" value="Delete">
        </td>
      </ng-container> -->
    </tr>
  </table>
</div>
