.main-header-container {
    margin-bottom: 40px;

    .main-header-title {
        font-weight: 500;
        padding-top: 14px;
        margin-left: 5px;
    }

    .main-header-content {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        .main-header-content-left {
            display: flex;
            justify-content: flex-start;
            gap: 10px;

            .content-left-item {
                display: flex;
                align-items: center;
                height: 35px;
                padding: 0px 13px;
                box-sizing: border-box;

                img {
                    width: 20px;
                    margin-right: 2px;
                }

                .item-text {
                    
                }

                &:hover {
                    background-color: rgb(183, 172, 172);
                    cursor: pointer;
                }
            }
        }
    }

    .main-header-content-right {

        margin-right: 40px;

        .content-right-text {
            font-weight: 700;
        }

        .content-right-input {
            height: 27px;
            width: 300px;
            margin-top: 20px;
        }
    }
}