.favourite-product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .title {
    height: 40px;
    background-color: rgb(241, 157, 210);
    box-shadow: 5px 5px 15px rgb(204, 137, 202);
    padding-top: 6px;
    box-sizing: border-box;
    z-index: 99;

    span {
      margin-left: 30px;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .list-products {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    gap: 200px;
    padding-top: 55px;
    background-color: rgb(231, 207, 227);
    overflow: auto;

    .product {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
